body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(59, 101, 114),rgb(123, 2, 123));
}

.heading{
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px aquamarine;
    background-image: linear-gradient(to right,black, rgb(249, 6, 225),blue);
    margin: 20px;
    padding: 20px;
    height: auto;
    width: auto;
    text-align: center;
    align-items: center;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;           
    padding: 20px;
    height: auto;
    width: auto;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 10px 10px 8px aqua;
    background: linear-gradient(red,yellow,black);
}

.div1 .div2 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px white;
}

.name,.email,.gender{
    margin-right: 40px;
}

.password{
    margin-right: 10px;
}
#Name,#Email,#Password,#Gender{
    margin: 10px;
}

input{
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid lightcoral;
    box-shadow: 1px 1px 1px black;
    background-color: lightgrey;
}

#Gender{
   padding: 10px;
   border-radius: 10px;
   border: 2px solid lightcoral;
   box-shadow: 2px 2px 2px black;
   background-color: lightgrey;
}

#submit{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size:medium;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(rgb(4, 178, 194),green,blue,rgb(255, 6, 222));
    text-transform: capitalize;
    text-shadow: 3px 3px 3px black;
    box-shadow: 2px 2px 2px darkorange;
    border: 2px solid white;
}

label{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px white;
}